
.qa-nav-main-scripts .qa-nav-main-link:before {
    content: '\e80b';
}

.qa-nav-main-create_script .qa-nav-main-link:before {
    content: '\e80C';
}

.qa-nav-main-questions .qa-nav-main-link:before {
    content: '\e800';
}

body{
    font-family: 'Roboto' !important;
}